@model Milestone_CST_350.Models.RegistrationModel

<div>
    <h4>THAT USERNAME OR PASSWORD WAS WRONG</h4>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new {/**/})
    <a asp-action="login">back to home</a>
</div>